html, body, #viewDiv {height:100%}

body {
    background-color: #C4C7C6;
    color: #242424;
}

h1{
    font-family: Arial, sans-serif;
    color: rgb(211,139,24);
}
p1{
    font-family: Arial, sans-serif;
}

p{
    position: absolute;
    /*left: 250px;*/
    /*top: 250px;*/
}

div.a{
    text-align: left;
    margin-right: 4%;
    margin-left: 1%;
    text-decoration-line: underline;
    text-decoration-color: white;
}

#blockLev{
    border: 2px solid olive;
    margin: 20 px;

}

#viewDiv {
    padding: 0;
    margin: 1%;
    height: 80%;
    width: 98%;
}

#head-desc {
    width: 98%;
    padding: 5px;
    display: block;
    line-height: 42px;
    position: relative;
    top: 1%;
    left: 1%;
    background-color: #6f1400;
}

#info{
    padding: 1%;
    margin: 0;
    border: 2px;
    color: #6f1400;
    position: relative;
    left: 1%;
    width: 35%;
}

#info2{
    padding: 1%;
    margin: 0;
    border: 2px;
    color: #6f1400;
    position: relative;
    left: 1%;
    width: 35%;
    outline-color: darkblue;
}


/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

