h1{
    font-family: Arial, sans-serif;
    color: rgb(211,139,24);
}
p1{
    font-family: Arial, sans-serif;
}

#blockLev{
    border: 2px solid olive;
    margin: 20 px;

}

/*#viewDiv {*/
/*    padding: 10%;*/
/*    border: 5px solid #6f1400;*/
/*    height: 60%;*/
/*    width: 60%;*/
/*}*/

#viewDiv {
    padding: 0;
    margin: 1%;
    height: 98%;
    width: 98%;
}

#head-desc {
    width: 100%;
    padding: 5px;
    display: block;
    line-height: 42px;
    position: relative;
    bottom: 100;
    background-color: #6f1400;
}

#box{
    border: 2 px solid;
    height: 300 px;
    width: 300 px;
    background-color: tomato;

}


#map2 {
    height: 400px;
    width: 50%;
    dipslay: right;

}
#panel{
    width: 16%;
    padding: 20 px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42 px;
}


